@model Northwind.Web.Controllers.Organization.EmployeesController.EmployeeFormViewModel

@section MainContentPlaceHolder {


	<h1>Edit Employee</h1>

	@{
	    this.@Html.Partial("EmployeeForm", this.ViewData)}


}

