@model Northwind.Domain.Category

@section MainContentPlaceHolder {


<h2>Category Created</h2>

<p>You just created a new category with a name of @this.ViewData.Model.CategoryName!</p>
<p>No really, go check the DB...there it is!</p>

}

