@model Northwind.Domain.Category

@section MainContentPlaceHolder {

    <h2>Category Details</h2>

    <div>
        <p>
            ID:
            @this.ViewData.Model.Id</p>
        <p>
            Name:
            @this.ViewData.Model.CategoryName</p>
    </div>

}

